In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing transshipment file

ts=pd.read_csv("../data/transshipment.csv")

In [3]:
# check file

ts.head()

,fishing_vessel_mmsi,transshipment_vessel_mmsi,start_time,end_time,mean_latitude,mean_longitude,duration_hr,median_distance_km,median_speed_knots
0,416565000,354240000,2016-11-18T14:30:00Z,2016-11-19T01:50:00Z,-17.039085,-79.063725,11.333333,0.038188,0.585402
1,412679190,354240000,2016-12-11T14:50:00Z,2016-12-11T19:50:00Z,-20.269608,-79.244953,5.000000,0.020033,0.575663
2,440863000,354240000,2017-06-13T12:50:00Z,2017-06-15T01:20:00Z,-62.640767,-60.690240,36.500000,0.054992,0.019775
3,416563000,354240000,2016-11-15T11:30:00Z,2016-11-16T04:00:00Z,-17.046586,-79.061923,16.500000,0.036427,1.023917
4,441309000,354240000,2017-05-19T00:40:00Z,2017-05-19T20:50:00Z,-46.627878,-60.554922,20.166667,0.034053,0.544031

In [4]:
#number of rows

ts.index

RangeIndex(start=0, stop=11681, step=1)

In [5]:
#check columns

ts.columns

Index(['fishing_vessel_mmsi', 'transshipment_vessel_mmsi', 'start_time',
       'end_time', 'mean_latitude', 'mean_longitude', 'duration_hr',
       'median_distance_km', 'median_speed_knots'],
      dtype='object')

In [6]:
ts['coordinates'] = tuple(zip(ts['mean_latitude'], ts['mean_longitude']))

In [7]:
ts.head()

,fishing_vessel_mmsi,transshipment_vessel_mmsi,start_time,end_time,mean_latitude,mean_longitude,duration_hr,median_distance_km,median_speed_knots,coordinates
0,416565000,354240000,2016-11-18T14:30:00Z,2016-11-19T01:50:00Z,-17.039085,-79.063725,11.333333,0.038188,0.585402,"(-17.0390854214, -79.0637246039)"
1,412679190,354240000,2016-12-11T14:50:00Z,2016-12-11T19:50:00Z,-20.269608,-79.244953,5.000000,0.020033,0.575663,"(-20.26960835264285, -79.24495254404286)"
2,440863000,354240000,2017-06-13T12:50:00Z,2017-06-15T01:20:00Z,-62.640767,-60.690240,36.500000,0.054992,0.019775,"(-62.640767187979215, -60.690240192925565)"
3,416563000,354240000,2016-11-15T11:30:00Z,2016-11-16T04:00:00Z,-17.046586,-79.061923,16.500000,0.036427,1.023917,"(-17.04658591501366, -79.0619234553677)"
4,441309000,354240000,2017-05-19T00:40:00Z,2017-05-19T20:50:00Z,-46.627878,-60.554922,20.166667,0.034053,0.544031,"(-46.62787804705882, -60.55492183696471)"

In [ ]:
#import geocoder

import reverse_geocoder as rg